<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="vendor/mocha.css" />
  </head>
  <body>
    <div id="tests-container" style="display:none">

    <!-- Insert here any required markup for the tests -->



    <!-- Up to here lads... FB root element'z a gift -->
      <div id="fb-root"></div>
    </div>

  <div><span>
    <script type="text/javascript">
    var loc = window.location.search;
    var IS_COMPILED = !!loc.match(/compiled/);
    var DEBUG = !!loc.match(/debug/);
    var UNIT_TESTS = !!loc.match(/unit/);

    // prevent initialization of library
    window.TESTING = true;

    (function(){
      var anchorBdd = {
        href: 'index.html?compiled=true',
        value: 'Compiled Mode'
      };
      if(IS_COMPILED) {
        anchorBdd.href = 'index.html';
        anchorBdd.value = 'Uncompiled Mode';
      }

      if(UNIT_TESTS) {
        document.write('<a href="/test">BDD Tests</a>');
      } else {
        document.write('<a href="/test/?unit=1">Unit Tests</a> | ');
        document.write('<a href="' + anchorBdd.href + '">' + anchorBdd.value + '<\/a>');

      }

    })();
    </script>
  </span></div>

    <div id="mocha"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="<%= closure.basePath %>/components/jquery/jquery.js"><\/script>')</script>
    <script>
      if (!window.jQuery) {
        document.write('<div><span style="font-size:30px; color: red;">Could not load jQuery! Make sure you have it installed via bower: </ br> <b>bower install</b></span></div>');
      }
    </script>
    <script src="vendor/mocha.js"></script>
    <script src="vendor/sinon-1.6.0.js"></script>
    <script src="../node_modules/chai/chai.js"></script>
    <script src="../node_modules/chai-as-promised/lib/chai-as-promised.js"></script>
    <script>
(function(){

  if(IS_COMPILED) {
<% if (closure.web) {%>
    document.write("<script src='..\/<%= closure.basePath %>\/jsc\/app.js'><\/script>");
    document.write('<script src="..\/app\/closure-library\/closure\/goog\/base.js"><\/script>');
<% } else { %>
    document.write("<script src='..\/<%= closure.distPath %>\/app.js'><\/script>");
    document.write('<script src="..\/closure-library\/closure\/goog\/base.js"><\/script>');
<% } %>
  } else {
<% if (closure.web) {%>
    document.write('<script src="..\/app\/closure-library\/closure\/goog\/base.js"><\/script>');
    document.write('<script src="..\/<%= closure.basePath %>\/<%= closure.sourceRel %>\/deps.js"><\/script>');
    document.write('<script>goog.DEBUG = DEBUG;<\/script>');
    document.write('<script src="..\/<%= closure.basePath %>\/<%= closure.sourceRel %>\/main.js"><\/script>');
<% } else { %>
    document.write('<script src="..\/closure-library\/closure\/goog\/base.js"><\/script>');
    document.write('<script src="..\/<%= closure.appPath %>\/deps.js"><\/script>');
    document.write('<script>goog.DEBUG = DEBUG;<\/script>');
    document.write('<script src="..\/<%= closure.appPath %>\/main.js"><\/script>');
<% } %>

  }

  if(UNIT_TESTS) {
    document.write('<script src="unit/deps-test-tdd.js"><\/script>');
    document.write('<script src="unit/bootstrap.js"><\/script>');
  } else {
    document.write('<script src="bdd/deps-test-bdd.js"><\/script>');
    document.write('<script src="bdd/bootstrap.js"><\/script>');
  }




})();
    </script>
    <script>

      if (window.mochaPhantomJS) { mochaPhantomJS.run(); }
        else if (!window.PHANTOMJS) {
          // phantomJS is a little corky, will issue the
          // run method from the grunt conf and this
          // run invocation will break up the tests.
          //
          // But is required for browser testing.
          mocha.run();
        }
    </script>
  </body>
</html>
